# Server
PORT=5000
NODE_ENV=development

# MongoDB - Update with your MongoDB Compass connection string
MONGODB_URI=mongodb://pujithamedasani_db_user:Gfr14t4CGOdhYONt@ac-hxg1e1y-shard-00-00.sbocape.mongodb.net:27017,ac-hxg1e1y-shard-00-01.sbocape.mongodb.net:27017,ac-hxg1e1y-shard-00-02.sbocape.mongodb.net:27017/?ssl=true&replicaSet=atlas-11afmy-shard-0&authSource=admin&appName=apartment

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRES_IN=7d

# Admin seed credentials
ADMIN_EMAIL=admin@portal.com
ADMIN_PASSWORD=Admin@123
